<%= simple_form_for @movie, html: {multipart: true} do |f| %>
	<div class="nav_bar">
		<div class="sub_nav left">
			<%= link_to "Cinema Paradiso", root_path, class: "title" %>
			<%= link_to "Programmazione", movies_path, class: "nav_item" %>
			<% if user_signed_in? %>
				<% if current_user.admin %>
					<%= link_to "Prenotazioni", reservations_path, class: "nav_item" %>
					<%= link_to "Spettacoli", shows_path, class: "nav_item" %>
				<% elsif current_user.reservations.count > 0 %>
					<%= link_to "Le mie prenotazioni", reservations_path, class: "nav_item" %>
				<% end %>
			<% end %>
		</div>
		<div class="sub_nav right">
			<% if user_signed_in? %>
				<%= link_to "Elimina", @movie, method: :delete, class: "nav_item", data: { confirm: 'Sei sicuro?' } %>
				<%= link_to "Annulla", root_path, class: "nav_item" %>
				<%= f.button :submit, value: "Salva", class: "nav_item" %>
				<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav_item" %>
			<% else %>
				<%= link_to "Sign Up", new_user_registration_path, class: "nav_item" %>
				<%= link_to "Sign In", new_user_session_path, class: "nav_item" %>
			<% end %>
		</div>
	</div>
	
	<% flash.each do |key, value| %>
	    <div class="notification <%= key %>"><%= value %></div>
	<% end %>

	<div class="movies_form">
		<% if user_signed_in? && current_user.admin %>
			<img class="poster" id="poster" src="<%= @movie.poster.url(:large) %>"/>
			<div class="info">
				<div class="poster">
					<label>Poster</label>
					<%= f.file_field :poster, id: "posterUpload" %>
					<%= f.input :poster_url, placeholder: 'oppure scrivi URL qui' %>
				</div>
				<script>
					function handleFileSelect(evt) {
    				var files = evt.target.files; // FileList object
    				// Loop through the FileList and render image files as thumbnails.
    				for (var i = 0, f; f = files[i]; i++) {
    	  			// Only process image files.
    	  			if (!f.type.match('image.*')) {
    	  			  continue;
    	  			}
    	  			var reader = new FileReader();
    	  			// Closure to capture the file information.
    	  			reader.onload = (function(theFile) {
    	  		  	return function(e) {
    	  	  	  	// Update image.
    	  	  	  	document.getElementById("poster").src=e.target.result;
    	  	  		};
    	  			})(f);
    	  			// Read in the image file as a data URL.
    	  			reader.readAsDataURL(f);
    				}	
  				}
  				document.getElementById('posterUpload').addEventListener('change', handleFileSelect, false);
				</script>
				<div class="title"><%= f.input :title, placeholder: 'Titanic', label: 'Titolo' %></div>
				<div class="autocomplete hidden">
					<div class="found_title">Intendi <span id="found_title"></span>?</div>
					<div class="autocomplete_button">Completa automaticamente</div>
				</div>
				<script>
					var baseurl;
    				var request = new XMLHttpRequest();
					request.open('GET', 'http://api.themoviedb.org/3/configuration?api_key=663428f9bca787c67552f9c76c0362b9');
					request.setRequestHeader('Accept', 'application/json');
					request.onreadystatechange = function () {
  						if (this.readyState === 4) {
   							var response = this.responseText;
   							var obj = JSON.parse(response);
   							baseurl = obj.images.base_url;
  						}
					};
					request.send();

					var suggestAutocompletion = true;

					$('form').on('keyup change', 'input#movie_title', function(){
						if (suggestAutocompletion) {
							var inputTitle = $('input#movie_title').val();
    						if (inputTitle.length >= 3) {
    							findMovie(inputTitle, "it");
    						} else {
    							resetFormPreview();
    							$(".autocomplete").addClass("hidden");
    						}
						}
					});

					var id, title, plot, duration, genere, director, actors, trailer_url, poster_url;

					function findMovie(t, language) {
						t = escape(t);
    					var request = new XMLHttpRequest();
						request.open('GET', 'http://api.themoviedb.org/3/search/movie?api_key=663428f9bca787c67552f9c76c0362b9&query=' + t + '&language=' + language);
						request.setRequestHeader('Accept', 'application/json');
						request.onreadystatechange = function () {
  							if (this.readyState === 4) {
   								var response = this.responseText;
   								var obj = JSON.parse(response);
   								obj = obj.results[0];  // Best result.
   								if (obj != null) {
   									$(".autocomplete").removeClass("hidden");
   								}
   								// Get title.
   								title = obj.title;
   								$("#found_title").text(title);
   								// Get id.
   								var newId = obj.id;
   								if (id != newId) {
   									// Update movie info.
   									getMovieInfo(newId, language);
   								}
  							}
						};
						request.send();
					}

					function getMovieInfo(id, language) {
						var request = new XMLHttpRequest();
						request.open('GET', 'http://api.themoviedb.org/3/movie/' + id + '?api_key=663428f9bca787c67552f9c76c0362b9&language=' + language);
						request.setRequestHeader('Accept', 'application/json');
						request.onreadystatechange = function () {
  							if (this.readyState === 4) {
   								var response = this.responseText;
   								var obj = JSON.parse(response);
   								// Get plot.
   								plot = obj.overview;
   								// Get duration.
   								duration = obj.runtime;
   								// Get genere.
   								var genres = obj.genres;
   								genere = "";
								for (var i = 0; i < genres.length; i++) {
   									if (genere == "") {
   										genere = genres[i].name;
   									} else {
   										genere = genere + ", " + genres[i].name;
   									}
   								}
   								// Get poster URL.
   								poster_url = null;
   								poster_url = obj.poster_path;
   								// Get actors and director (and trailer URL).
   								getMovieActorsAndDirector(id);
  							}
						};
						request.send();
					}

					function getMovieActorsAndDirector(id) {
						var request = new XMLHttpRequest();
						request.open('GET', 'http://api.themoviedb.org/3/movie/' + id + '/credits?api_key=663428f9bca787c67552f9c76c0362b9');
						request.setRequestHeader('Accept', 'application/json');
						request.onreadystatechange = function () {
							if (this.readyState === 4) {
   								var response = this.responseText;
   								var obj = JSON.parse(response);
   								// Get actors.
   								var cast = obj.cast;
   								actors = [];
   								var numberOfActorsToGet = 5
   								for (var i = 0; i < cast.length; i++) {
   									if (numberOfActorsToGet > 0) {
   										actors.push(cast[i].name);
   										numberOfActorsToGet--;
   									}
   								}
   								// Get director.
   								var crew = obj.crew;
   								for (var i = 0; i < crew.length; i++) {
   									if (crew[i].department == "Directing") {
   										director = crew[i].name;
   										numberOfActorsToGet--;
   									}
   								}
   								// Get trailer URL.
   								getMovieTrailerURL(id);
  							}
  							
						};
						request.send();
					}

					function getMovieTrailerURL(id) {
						var request = new XMLHttpRequest();
						request.open('GET', 'http://api.themoviedb.org/3/movie/' + id + '/videos?api_key=663428f9bca787c67552f9c76c0362b9');
						request.setRequestHeader('Accept', 'application/json');
						request.onreadystatechange = function () {
  							if (this.readyState === 4) {
   								var response = this.responseText;
   								var obj = JSON.parse(response);
   								// Get trailer url.
   								if (obj.results.count > 0) {
   									trailer_url = obj.results[0].key;
   								}
   								
   								// Update preview.
   								updateFormPreview();
  							}
						};
						request.send();
					}

					function updateFormPreview() {
						if (plot != null) {
							$('textarea#movie_plot').attr("placeholder", plot);
						}
						if (duration != null) {
							$('input#movie_duration').attr("placeholder", duration);
						}
						if (genere != null) {
							$('input#movie_genere').attr("placeholder", genere);
						}
						if (director != null) {
							$('input#movie_director').attr("placeholder", director);
						}
						if (poster_url != null) {
							$('input#movie_poster_url').attr("placeholder", baseurl + "/original/" + poster_url);
						}
						if (trailer_url != null) {
							$('input#movie_trailer_url').attr("placeholder", trailer_url);
						}
						// Attori
						//for (var i = 0; i < actors.length; i++) {
						//	document.getElementById("addActor").click();
						//}
					}

					function resetFormPreview() {
						if (plot != null) {
							$('textarea#movie_plot').attr("placeholder", "");
							$('input#movie_duration').attr("placeholder", "");
							$('input#movie_genere').attr("placeholder", "");
							$('input#movie_director').attr("placeholder", "");
							$('input#movie_poster_url').attr("placeholder", "");
							$('input#movie_trailer_url').attr("placeholder", "");
						}
						// Attori
					}

					function updateForm() {
						suggestAutocompletion = false;
						$(".autocomplete").addClass("hidden");
						if (title != null) {
							$('input#movie_title').val(title);
						}
						if (plot != null) {
							$('textarea#movie_plot').val(plot);
						}
						if (duration != null) {
							$('input#movie_duration').val(duration);
						}
						if (genere != null) {
							$('input#movie_genere').val(genere);
						}
						if (director != null) {
							$('input#movie_director').val(director);
						}
						if (poster_url != null) {
							$('input#movie_poster_url').val(baseurl + "/original/" + poster_url);
							updatePosterFromURL();
						}
						if (trailer_url != null) {
							$('input#movie_trailer_url').val(trailer_url);
						}
						// Attori
						suggestAutocompletion = true;
					}

					$('.autocomplete').click(function () {
        				updateForm();
    				});

    				$('input#movie_poster_url').change(function() {
     					updatePosterFromURL();
    				});

    				function updatePosterFromURL() {
    					$("img.poster").attr("src", $('input#movie_poster_url').val());
    				}
				</script>
				<div class="plot"><%= f.input :plot, placeholder: "Rose ha diciassette anni, una madre egoista, un fidanzato facoltoso e una vita pianificata. Imbarcata sul Titanic e insoddisfatta della propria subalternità al futuro sposo incontra Jack, romantico disegnatore della terza classe che ha vinto a poker un biglietto per l'America. Contro le convenzioni e il destino, che chiederà il conto in una notte senza luna, Rose e Jack si innamorano, spiegando il loro spirito come i motori del più grande transatlantico del mondo. Lanciato nella sua prima traversata oceanica il Titanic è colpito al cuore da un iceberg, 'affondando' millecinquecento persone e il futuro dei due giovani amanti. Ottantaquattro anni dopo l'ultracentenaria Rose, scampata al naufragio e sopravvissuta a Jack, racconterà a un gruppo di scienziati la meraviglia di un amore interclassista e la stupidità di un mondo diviso in classi. Un mondo che il Titanic inabisserà in un oceano nero il 15 aprile del 1912.", label: 'Trama' %></div>
				<div class="genere_duration_director_actors">
					<div class="duration"><%= f.input :duration, placeholder: '123', label: 'Durata' %></div>
					<div class="director"><%= f.input :director, placeholder: 'James Cameron', label: 'Regista' %></div>
					<div class="genere"><%= f.input :genere, placeholder: 'Drammatico', label: 'Genere' %></div>
					<div class="actor_form">
						<label>Attori</label>
						<%= link_to_add_association "+ Aggiungi attore", f, :actors, "data-association-insertion-method": "append", id: "addActor" %> 
						<%= f.simple_fields_for :actors do |actor| %>
							<%= render 'actor_fields', f: actor %>
						<% end %>
					</div>
				</div>
				<div class="trailer_url"><%= f.input :trailer_url, placeholder: '(URL YouTube)' %></div>
				<div class="shows">
					<div class="show_form">
						<label>Spettacoli</label>
						<%= link_to_add_association "+ Aggiungi spettacolo", f, :shows, "data-association-insertion-method": "append" %> 
						<%= f.simple_fields_for :shows do |show| %>
							<% if show.object.datetime > DateTime.now %>
								<%= render 'show_fields', f: show %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
