<div class="nav_bar">
	<div class="sub_nav left">
		<%= link_to "Cinema Paradiso", root_path, class: "title" %>
		<%= link_to "Programmazione", movies_path, class: "nav_item" %>
		<% if user_signed_in? %>
			<% if current_user.admin %>
				<%= link_to "Prenotazioni", reservations_path, class: "nav_item" %>
				<%= link_to "Spettacoli", shows_path, class: "nav_item selected" %>
			<% elsif current_user.reservations.count > 0 %>
				<%= link_to "Le mie prenotazioni", reservations_path, class: "nav_item" %>
			<% end %>
		<% end %>
	</div>
	<div class="sub_nav right">
		<% if user_signed_in? %>
			<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav_item" %>
		<% else %>
			<%= link_to "Sign Up", new_user_registration_path, class: "nav_item" %>
			<%= link_to "Sign In", new_user_session_path, class: "nav_item" %>
		<% end %>
	</div>
</div>

<% flash.each do |key, value| %>
    <div class="notification <%= key %>"><%= value %></div>
<% end %>

<div class="shows_index">
	<% @shows.each do |show| %>
		<% if show.datetime < DateTime.now %>
			<% next %>
		<% end %>
		<div class="show">
			<div class="info">
				<a href="movies/<%= show.movie.id %>">
					<div class="title"><%= show.movie.title %></div>
				</a>
			</div>
			<div class="info">
				<a href="/shows/<%= show.id %>">
					<% date =  show.datetime.strftime("%A %d") %>
					<% if date == DateTime.now.strftime("%A %d") %>
						<% date = "Oggi" %>
					<% elsif date == (DateTime.now + 24.hours).strftime("%A %d") %>
						<% date = "Domani" %>
					<% end %>
					<% date.sub! 'Monday', 'Lunedì' %>
					<% date.sub! 'Tuesday', 'Martedì' %>
					<% date.sub! 'Wednesday', 'Mercoledì' %>
					<% date.sub! 'Thursday', 'Giovedì' %>
					<% date.sub! 'Friday', 'Venerdì' %>
					<% date.sub! 'Saturday', 'Sabato' %>
					<% date.sub! 'Sunday', 'Domenica' %>
					<% date.sub! 'Mon', 'Lun' %>
					<% date.sub! 'Tue', 'Mar' %>
					<% date.sub! 'Wed', 'Mer' %>
					<% date.sub! 'Thu', 'Gio' %>
					<% date.sub! 'Fri', 'Ven' %>
					<% date.sub! 'Sat', 'Sab' %>
					<% date.sub! 'Sun', 'Dom' %>
					<div class="date"><%= date %></div>
					<div class="time"><%= show.datetime.strftime("%H:%M") %></div>
					<div class="theater"><%= show.theater.name %></div>
				</a>
			</div>
			<div class="info">
				<span class="label">Posti disponibili</span>
				<a href="/shows/<%= show.id %>">
					<% seatsCount = show.theater.seats.count %>
					<% reservedSeatsCount = 0 %>
					<% @reservations.where(show: show).each do |reservation| %>
						<% reservedSeatsCount = reservedSeatsCount + reservation.seats.count %>
					<% end %>
					<div class="seats"><%= seatsCount - reservedSeatsCount %> / <%= seatsCount %></div>
				</a>
			</div>
		</div>
	<% end %>
</div>